autorandr
btop
bumblebee-status
cava
dconf
dunst
font-manager
fontconfig
geany
htop
libreoffice
menus
Mousepad
neofetch
nvim
pulse
xarchiver
krusaderrc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
gh
