[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/boody/Desktop/f]
row=6
col=0

[/home/boody/Desktop/sh]
row=2
col=1

[7d5c93fa-fc40-49ee-9c86-65e46e4cf0ad]
row=0
col=0

[04599237-ebd6-4518-aa9f-17bc9c351dcf]
row=3
col=0

[A8C84AE0C84AAC7E]
row=2
col=0

[4A5861CB5861B5FB]
row=1
col=0

[7C54D8F754D8B4DC]
row=4
col=0

[Trash]
row=5
col=0

[/]
row=0
col=1

[/home/boody]
row=1
col=1

